

header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbars{
    display: flex;
    gap: 2.7em;
    margin-right: 1.8em;
    
}
.navbars li a{
    color: var(--main-color);
    font-size: 1.3em;
    transition: .5s ease-in-out;
    

}
.navbars li{
    transition: .5s ease-in-out;

}
.navbars li:hover{
    transform: scale(1.4);
}
.navbars li a:hover{
color: var(--hover-color);
font-weight: 700;


}   

.fa-bars{
    display: none;

}
#close { 
    display: none;}

.navbars {
    display: none;
   
}
.navbars.active {
    display: flex;
    flex-direction: column;
} 
@media(max-width:768px){
    body{
        margin: 0;
        padding: 0;
        background-color: #fff;
        width: 100%;
    }
    header{
        width: 100%;
        display: flex;
        align-items: start;
    }
    .logo{
        display: block;
    }
    header .navbar{
    position: absolute;
        right: 0;
        top: 0;
        line-height: 1.5em;
        display: block;
        width: max-content;
        padding: 20px;
        border-radius: 0 20px;
        background-color: rgba(51, 47, 47, 0.603);

    }
    header .navbar ul{
        display: none;
        flex-direction: column;
        margin-right: 0;
    }
    .navbar ul li a{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1em;

    }
    .navbars {
        padding-top: 2em;
        display: none; /* Ensure it is hidden initially */
    }
    
    .navbars.active {
    
        display: flex; /* Show when active */   
    }

    #bars{
        display: block;
        margin: auto;
        font-size: 2em;
        cursor: pointer;
    }
   
    #close{
        margin:auto;
        font-size: 2em;
        display: none;
        cursor: pointer;
    }
    #close.active {
        display: block;
      }
      #bars.active {
        display: none;
      }
     section{
        margin: 1em 0.2em;
        padding: 1em;
    }
    #aboutme h1{
        margin-bottom: 0;
    }
     .large{
        font-size: 2em;
        margin-top: 2em;
        
    
        
    }
   
     .left h2{
        font-size: 1em;
     }
     
     .links{
        width: 100%;
        display: flex;
        justify-items: center;
     }

.adila .image{
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: auto;
}
.adila .image img{
        width: 100%;
        align-content: center;
        
    }



    .adila .left, .adila .right img{
        width: 100%;
    }

    .service div{
        width: 100%;
    }

    .contact .left{
        width: 100%;
        padding: 10px;
        margin: 0;

    }

}


